.button {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--button-bg);
  color: var(--button-color);
  border: 1px solid var(--button-border-color);
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  border-radius: 1.2rem;
  cursor: pointer;
  white-space: nowrap;

  @media screen and (min-width: #{$breakpoint-md}) {
    width: min-content;
  }
}

// color
.button--black {
  --button-bg: #{$c--black};
  --button-border-color: var(--button-bg);
  --button-color: #{$c--white};

  &:not(.button--disabled) {
    &:hover {
      --button-bg: #{$c--dark-gray};
    }

    &:focus {
      --button-bg: #{$c--black};
      outline: 3px solid #{$c--blue};
    }
  }
}

.button--red {
  --button-bg: #{$c--red};
  --button-border-color: var(--button-bg);
  --button-color: #{$c--white};
}

// type
.button--primary {
  font-size: 1.6rem;
}

.button--secondary {
  --button-color: var(--button-bg);
  background-color: transparent;
}

// size
.button--large {
  padding: 1.2rem 3.2rem;
}

.button--small {
  padding: 0.6rem 1.2rem;
}

.button--disabled {
  --button-bg: #{$c--gray-80};
  --button-color: #{$c--gray-50};

  cursor: default;
}
