html {
  font-size: 10px;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-size: 1.6rem;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bg;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;

  #root {
    min-height: 100%;
    height: 100%;
  }
}

main {
  max-width: 1312px;
  min-height: calc(100% - 84px - 56px);
  margin: 0 auto;
  display: grid;
  place-content: space-between;
  grid-template-columns: repeat(4, [col-start] 1fr);
  grid-gap: 20px;
  padding: 84px 22px 56px 22px;

  @media screen and (min-width: #{$breakpoint-md}) {
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(3, min-content);
    min-height: calc(100% - 56px - 56px);
    padding: 56px 6px 56px 6px;
  }
}
