@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Boxing";
  src: url("../fonts/Boxing-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
